body {
    margin: 0px;
    overflow: hidden;
    background: black;
}

.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(113, 30, 130, 0.8);
    z-index: 9998;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: #00b482;
}

.branding {
    position: fixed;
    z-index: 9999;
    bottom: 0;
    right: 0;
    color: #00b482;
    background-color: white;
    padding: 3px 3px 3px 3px;
}

.loader {
    border: 15px solid #f3f3f3;
    /* Light grey */
    border-top: 15px solid #00b482;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    animation: spin 1.5s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}